.change-password {
    width:30%;
    margin: 40px 0 0 100px;

    .change-password-container {
        form {
            display: flex;
            flex-direction: column;

            input {
                background-color: rgba(0, 0, 0, 0.438);
                height: 34px;
                border: 0;
                border-radius: 7px;
                margin-bottom: 10px;
                padding: 5px;

                &:focus {
                    outline: 1px solid orange;
                }
            }

            .error-1 {
                width: 100%;
                background-color: rgba(255, 0, 0, 0.397);
                border: 1px solid rgba(255, 0, 0, 0.753);
                font-size: 14px;
                padding: 6px;
                margin-top: 10px;
            }

            label {
                margin-bottom: 6px;
                color: white;
            }

            .btn-cls {
                align-self: flex-end;
            }

            .change-btn, .cancel-btn {
                margin-top: 20px;
                transition: all 0.4s ease;

                &:hover {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.514);
                    transform: scale(1.06);
                    color: white;
                    
                }
            }

            .change-btn {
                width: 90px;
                height: 25px;
                font-size: 15px;
                border: 0;
                border-radius: 6px;
                margin-right: 20px;
                background-color: orange;
            }
            .cancel-btn {
                width: 90px;
                height: 25px;
                font-size: 15px;
                border: 0;
                border-radius: 6px;
                margin-right: 20px;
                background-color: rgba(69, 128, 255, 0.664);

            }
        }
    }
}